
body

       {
           padding-left: 80px;
           padding-right: 80px;
           background-color: #E0FFFF;
       }

h1, h3
{
padding-left: 20px;
}

h1
{
  color: #191970;
}
